body {
  margin: 0;
  font-family: "Bebas Neue", cursive;
}

@media 
  only screen and (max-width: 1300px)  {
    .choseImg{
       display:none;
     }
}

.total-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}

/* NavBar Section */
.nav-container {
  left: auto;
  top: 0;
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px 50px 0px 5vw;

  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(216, 216, 216) 10%
  );
}

.nav-title-wrapper {
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  object-fit: fill;
}

.nav-title-wrapper h1 {
  margin-bottom: -5px;
}

.nav-title-wrapper h1 span {
  font-size: calc(0.5em + 4vw);
  letter-spacing: -0.5px;
  margin-right: 9px;
}

.nav-title-wrapper h2 {
  font-size: calc(0.25em + 2vw);
  margin: -5px 10px -5px 0px;
  letter-spacing: -0.5px;
}

.nav-list-wrapper {
  display: flex;
  width: 100%;
  margin-top: auto;
  margin-bottom: 100px;
  flex-direction: column;
  align-items: flex-end;
}

.nav-list-wrapper span {
  font-size: calc(0.5em + 2.5vw);
  letter-spacing: -0.5px;
  color: rgb(121, 121, 121);
  font-weight: 900;
}

/* header color setting */
.set-black {
  color: rgb(28, 29, 31);
}

/***************************************************/

/* Left side */
.left-container {
  height: 100%;
  margin-right: 500px;
  max-width: 1250px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 5vw 0px 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: calc(0.5em + 0.42vw);
}

/***************************************************/

/* Home Section */
.home-wrapper img {
  display: block;
  margin: -1.5vw auto 0 22vw;
  width: 30vw;
}

/***************************************************/

/* About Section */
.aboutme-wrapper {
  width: 42vw;
  /* margin: 200px auto 200px 420px; */
  margin: 165px auto -5px 420px;
  font-size: calc(0.5em + 1.2vw);
}

.aboutskill-wrapper {
  width: 42vw;
  margin: 120px auto 0px 320px;
  font-size: calc(0.5em + 0.42vw);
}

.about-col-img {
  width: 70%;
  margin-left: 10%;
}

.c1 {
  width: 70%;
}

.about-style {
  color: #f44336;
}


/***************************************************/

/* Projects Section */
.projects-holder {
  padding-left: 10vw;
  padding-top: 7vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}
.project-box {
  width: 15vw;
  height: 15vw;
  margin: 5px;
  text-align: center;
  background-color: #e2e3e7;
  box-shadow: 2px 2px 10px #5f5f5f;
  border-radius: 2.5vw;
}

.project-box p {
  margin-top: 6.5vw;
  font-size: calc(0.5em + 0.8vw);
  font-weight: 500;
  color: black;
}

.project-box-back {
  display: none;
}

.project-box:hover .project-box-front {
  display: none;
}

.project-box:hover .project-box-back {
  display: block;
  padding-left: 2vw;
  margin-top: -2vw;
  text-align: left;
}



/***************************************************/



/* change regular font to outline-font */

.change-to-outline {
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  color: #e2e3e7;
}


/* strikethrough Animation */
.strike {
  position: relative;
  display: block;
  cursor: pointer;
}

.strike:before,
.strike:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 7px;
  top: 50%;
  margin-top: -2.5px;
  background: #f44336;
}

.strike:before {
  left: -3px;
}
.strike:after {
  right: 2.5px;
  background: #f44336;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.strike:hover:before {
  background: #f44336;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.strike:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

/* Split tags */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex: 1;
}


/* Slide animation */
.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-21 18:48:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}


.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-21 18:49:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}


.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-21 18:51:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
